<style>
    td a {
      text-decoration: none;
    }
  </style>
  <form>
    <div class="form-group">
      <input type="file" id="file" multiple (change)="uploadFile($event)" hidden #fileInput />
      <input type="file" id="folder" multiple (change)="uploadFile($event)" hidden #folderInput  webkitdirectory directory multiple/>
      <div class="btn-group">
        <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          Upload
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" (click)="openFileChooser(fileInput)">File</a></li>
          <li><a class="dropdown-item" (click)="openFileChooser(folderInput)">Folder</a></li>
        </ul>
      </div>
  
    </div>
  </form>
  
  <h5 style="margin-top: 50px" >All files</h5>
  <h3 *ngIf="fodlerData?.folder">{{fodlerData?.folder?.name}}</h3>
  <ng-container *ngIf="fodlerData">
    <app-files-table [files]="fodlerData.files" [folders]="fodlerData.subfolders"></app-files-table>
    
    </ng-container>