<style>
    td a {
      text-decoration: none;
    }
    .dashed-border {
    border: 2px dashed black;
    border-radius: 10px;
  }

  .transparent-border {
    border: 2px solid transparent;
  }

  .alert-primary {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: #f0f0f0;
    color: black;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 4px;
    font-size: 0.9rem;
  }
  </style>
  
  <app-page-layout [tableItems]="this.tableItems" (fileUpload)="loadFolderData()" [enclosingFolderName]="this.enclosingFolderName">
    <h3 table-title style="margin-top: 50px">All files</h3>
  </app-page-layout>



