<form>
  <div class="form-group">
    <input type="file" id="file" multiple (change)="uploadFile($event)" hidden #fileInput />
    <button class="btn btn-primary" (click)="openFileChooser(fileInput)">Upload files</button>
  </div>
</form>

<h3 style="margin-top: 50px">All files</h3>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Length</th>
    </tr>
  </thead>
  <tbody>

    <tr *ngFor="let file of files">
      <td>
        {{file.filename}}
      </td>
      <td>
        {{file.length}}
      </td>
    </tr>
  </tbody>
</table>