<div class="d-flex">
  <form>
    <div class="form-group">
      <input type="file" id="file" multiple (change)="uploadFile($event)" hidden #fileInput />
      <input type="file" id="folder" multiple (change)="uploadFile($event)" hidden #folderInput webkitdirectory
        directory multiple />
      <div class="btn-group">
        <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          Upload
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" (click)="openFileChooser(fileInput)">File</a></li>
          <li><a class="dropdown-item" (click)="openFileChooser(folderInput)">Folder</a></li>
        </ul>
      </div>

    </div>
  </form>
  <button type="button" class="btn btn-primary" aria-expanded="false" style="margin-left: 15px;" data-bs-toggle="modal"
    data-bs-target="#exampleModal">
    Create folder
  </button>
</div>

<h3 style="margin-top: 50px">All files</h3>
<ng-container *ngIf="data">
  <app-files-table [files]="data.files" [folders]="data.folders"></app-files-table>

</ng-container>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create folder</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <label for="form-name">Name</label>
        <div class="input-group">
          <input class="form-control" type="text" id="form-name" placeholder="Folder name" [(ngModel)]="folderName">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" [ngClass]="{'disabled': folderName.length == 0}" data-bs-dismiss="modal" (click)="createFolder()">Create</button>
      </div>
    </div>
  </div>
</div>